<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seentechs.newtaxidriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <!--
    this below permission is very important for Firebase push notification, when app was killed
    if we delete this below permission accidentally, app wont receive background notification
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- voip permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.seentechs.newtaxidriver.common.network.AppController"
        android:allowBackup="false"
        android:exported="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.seentechs.newtaxidriver.common.views.PaymentWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.seentechs.newtaxidriver.home.managevehicles.DocumentDetails"
            android:exported="false" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.managevehicles.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.managevehicles.ManageVehicles"
            android:exported="false" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutDetailsListActivity"
            android:exported="false" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.Referral.ShowReferralOptionsActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.seentechs.newtaxidriver.home.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.seentechs.newtaxidriver.common.helper.NetworkChangeReceiver"
            android:exported="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.seentechs.newtaxidriver.home.service.HeatMapUpdation"
            android:exported="true">
            <intent-filter>
                <action android:name="HeatMapTimer" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key_map_autocomplete" />

        <activity
            android:name="com.seentechs.newtaxidriver.home.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.SigninActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.SigninSignupHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.Register"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.MobileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.facebookAccountKit.FacebookAccountKitActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.tripsdetails.TripDetails"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.tripsdetails.YourTrips"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.rating.Comments"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.RegisterOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.paymentstatement.PaymentStatementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.paymentstatement.PayStatementDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.profile.VehiclInformation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.RequestReceiveActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.RequestAcceptActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.paymentstatement.DailyEarningDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.paymentstatement.TripEarningsDetail"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.RiderContactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.RiderProfilePage"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.seentechs.newtaxidriver.home.pushnotification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.seentechs.newtaxidriver.home.pushnotification.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.seentechs.newtaxidriver.home.map.GpsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" />
        <service
            android:name="com.seentechs.newtaxidriver.home.service.ForeService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.PULL_UP" />
            </intent-filter>
        </service>

        <activity
            android:name="com.seentechs.newtaxidriver.trips.rating.Riderrating"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.signinsignup.RegisterCarDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.CancelYourTripActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.profile.DriverProfile"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.payment.PaymentPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.payment.AddPayment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.common.helper.CommonDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name="com.github.florent37.camerafragment.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.common.camera.CustomCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.firebaseChat.ActivityChat"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutMainActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutAddressDetailsActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutBankDetailsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutEmailActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.PayoutEmailListActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.seentechs.newtaxidriver.home.firebaseChat.FirebaseChatNotificationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.seentechs.newtaxidriver.trips.voip.NewTaxiSinchService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.seentechs.newtaxidriver.common.helper.ManualBookingDialog"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name="com.seentechs.newtaxidriver.common.util.GPSBackgroundServiceRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <activity
            android:name="com.seentechs.newtaxidriver.home.payouts.BankDetailsActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.payment.PayToAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.EarningActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.RatingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.payment.AddCardActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.home.fragments.payment.PaymentActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.voip.CallProcessingActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.seentechs.newtaxidriver.trips.rating.PaymentAmountPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seentechs.newtaxidriver.common.views.SupportActivityCommon"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTransulent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".home.permissionoverview.PermissionOverViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name="com.seentechs.newtaxidriver.google.locationmanager.TrackingService"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service
            android:name="com.seentechs.newtaxidriver.google.locationmanager.TrackingService$HideNotificationService"
            android:exported="true" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="vnd.android.cursor.dir/image" />
        </intent>
    </queries>

</manifest>